@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {

    /* head start */
    .container1,
    .container2 {
        width: 100%;
        margin: 0px auto;
    }

    .logo {
        margin: 0px auto;
    }

    .nav-list {
        display: none;
    }

    .search_icon {
        display: none;
    }

    .bars_icon {
        display: inline;
    }

    .container2 .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #head .row .col {
        width: 100%;
    }

    .head-img {
        width: 100%;
    }

    .head-img img {
        width: 90%;
    }

    .container2 .head_btn {
        margin: 10px auto;
    }

    /* head end */
    /* section 1 start */
    .section1 .box {
        width: 100%;
    }

    .section1 .row {
        flex-direction: column;
        align-items: end;
    }

    .section1 .row .col1 {
        /* padding: 0px 30px; */
        border-radius: 400px 0px 0px 400px;
        width: 70%;
    }

    .section1 .row .col1 img {
        width: 90%;
    }

    .section1 .row .col2 {
        width: 100%;
        padding: 10px 0px;
        align-items: center;
    }

    .sec1_p {
        width: 90%;
    }

    /* section 1 end */

    /* section 2 start */
    .sec2_box {
        display: flex;
        flex-direction: column;
    }

    /* section 2 end */

    /* section 3 start */
    .section2 .container1 .row {
        display: flex;
        flex-direction: column;
    }

    .section2 .container1 .card {
        width: 60%;
        margin: 10px auto;
    }

    /* section 3 end */
    /* section 7 start */
    .menu-data {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu-card{
        width: 100%;
    }
    
    .menu-data .menu-row{
       /* padding: 0px; */
       flex-direction: column;
    }
    .menu-card .menu-col{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .menu-col img{
        width: 50%;
        margin: 10px auto;
    }
    /* section 7 end */
    /* footer start */
    .footer_row{
        flex-direction: column;
    }
    .footer_col1{
        width: 90%;
        padding: 0px 20px;
    }
    .footer_col2{
        width: 90%;
    }
    /* footer end */
}

@media only screen and (max-width:576px) {}