@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #537942;

}
* {
    margin: 0;
    padding: 0;
}

/* Reused */

.container1, .container2{
    width: 90%;
    margin: 0px auto;
}
#head{
    background-image: linear-gradient(229deg, rgba(124,178,88,0.9999999999999999) 0%, rgba(76,84,73,0) 100%);
}
.nav {
    padding: 10px 0px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    background-color: #2a451d;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list .nav-data {
    display: inline-block;
}

.nav-list .nav-data .nav-a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px 10px;
    font-family: poppins;
}

.icon-serach{
    color: white;
}
#head .row{
    display: flex;
    margin-top: 8px;
}
#head .row .col{
    width: 50%;
}
.container2 .tx1{
    font-family: "Berkshire Swash";
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    padding-top: 30px;
}
.container2 .tx2{
    font-family: "Berkshire Swash";
    color: #ffffff;
    font-size: 62px;
    text-align: center;
}
.container2 .head-txt2{
    color: #ffffff;
    width: 70%;
    margin: 20px auto;
}
.container2 .bt1{
    align-content: center;
}

/* Header End */

/* Body start */
/* section 1 start */
.section1{
    display: flex;
    justify-content: end;
    padding: 60px 0px;
    background-image: linear-gradient(-61deg, rgba(124,178,88,0.9999999999999999) 0%, rgba(76,84,73,0) 100%);
}
.section1 .box{
    background-color: transparent;
    width: 90%;
    
}
.section1 .row{
    display: flex;

}
.section1 .row .col1{
    border-radius: 50% 0% 0% 50%;
    background-color: #e6ca48;
    padding-right: 5%;
}
.section1 .row .col2{
    background-color:#e6ca48;
    width: 100%;
}
/* section 1 end */

/* section 2 start */
/* section 2 end */

/* section 3 start */
.section2 .container1 .row{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.section2 .container1 .card{
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

/* section 3 end */
/* Body End */
