@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #537942;
}

/* Reused */
.container {
    width: 90%;
    margin: 0px auto;
}
.nav {
    padding: 10px 0px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
    background-color: #2a451d;
}
.nav *{
    background-color: #2a451d;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list .nav-data {
    display: inline-block;
}

.nav-list .nav-data .nav-a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px 10px;
    font-family: poppins;
}

.icon-serach{
    color: white;
}

/* Header End */